body{
    background: rgb(45,48,60);
    background: linear-gradient(90deg, rgba(45,48,60,1) 0%, rgba(236,217,221,1) 100%);  
    display: flex;
    flex-direction: column;
}

.playercontainer{
    background-color: lightblue;
    border-radius: 10em;
    height: 20em;
    width: 40em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 8px;

}

img{
    height: 6em;
    width: 6em;
    padding: 2em;
}

img:hover{
    height: 10em;
    width: 10em;
}

.hide{
    display: none;
}

#results{
    background-color: aliceblue;
    border-radius: 8px;
    font-size: 3em;
}

#wins{
    font-size: 3em;
}

